/* src/assets/base.css */

/* --- THÈME SOMBRE (DÉFAUT) --- */
:root {
  /* Couleurs Hexa (pour usage direct) */
  --color-bg: #55423d;
  --color-bg-card: #271c19;
  --color-accent: #ffc0ad;

  --color-bg-rgb: 85, 66, 61;        /* Correspond à #55423d */
  --color-bg-card-rgb: 39, 28, 25;   /* Correspond à #271c19 */
  --color-accent-rgb: 255, 192, 173; /* Correspond à #ffc0ad */

  --color-text-main: #fffffe;
  --color-text-muted: #fff3ec;
  --color-accent-text: #271c19;
  --color-accent-hover: #e78fb3;

  --color-text-highlight: #ffffff;
  --color-blob: #140d0b;
  --color-border: rgba(255, 255, 255, 0.2);

  --font-main: 'Inter', sans-serif;
}

/* --- THÈME CLAIR --- */
:root[data-theme="light"] {
  --color-bg: #fff3ec;
  --color-bg-card: #ffffff;
  --color-accent: #ffc0ad;

  --color-bg-rgb: 255, 243, 236;     /* Correspond à #fff3ec */
  --color-bg-card-rgb: 255, 255, 255; /* Correspond à #ffffff */
  --color-accent-rgb: 255, 192, 173;

  --color-text-main: #271c19;
  --color-text-muted: #55423d;
  --color-accent-text: #271c19;
  --color-accent-hover: #e78fb3;

  --color-text-highlight: #5b465e;
  --color-blob: #f2dbce;
  --color-border: rgba(39, 28, 25, 0.1);
}

*, *::before, *::after { box-sizing: border-box; margin: 0; position: relative; font-weight: normal; }
body {
  min-height: 100vh;
  color: var(--color-text-main);
  background: var(--color-bg);
  transition: color 0.5s ease, background-color 0.5s ease;
  line-height: 1.6;
  font-family: var(--font-main);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}