/* src/assets/main.css */
@import './base.css';

#app {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text-main);
  transition: 0.3s;
}